<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Nome</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Nome">
      
      <label for="validationCustom01">Login</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Login">

      <label for="validationCustom01">Senha</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Senha" >

      <label for="validationCustom01">E-mail</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="E-mail" >
    
  <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
  </div>
</form>
